<%- include("partials/navbar.ejs") %>

<section class="main">
<% if (locals.matchups){ %>
    <h1>MATCHES TODAY <%= date %></h1>
    <% matchups.forEach((matchup, index) => {%>
    <button class="toggle-boxscore" data-target="boxscore-<%= index %>">
        <span> <%=matchup.team1Name%> <%=matchup.team1Score%></span> - <span> <%=matchup.team2Score%> <%=matchup.team2Name%></span>
    </button> 
    <div>
        <h2><%= matchup.team1Name %></h2>
        <table>
            <thead>
                <tr>
                    <th>PLAYER</th>
                    <th>TEAM</th>
                    <th>PTS</th>
                    <th>REB</th>
                    <th>AST</th>
                    <th>STL</th>
                    <th>BLK</th>
                    <th>FGM</th>
                    <th>FGA</th>
                    <th>FG3M</th>
                    <th>FG3A</th>
                    <th>FTM</th>
                    <th>FTA</th>
                    <th>+/-</th>
                </tr>
            </thead>
            <tbody>
                <% matchup.team1Players.forEach(player => { %>
                    <tr>
                        <td><%= player.PLAYER_NAME %></td>
                        <td><%= player.TEAM_ABBREVIATION %></td>
                        <td><%= player.PTS %></td>
                        <td><%= player.REB %></td>
                        <td><%= player.AST %></td>
                        <td><%= player.STL %></td>
                        <td><%= player.BLK %></td>
                        <td><%= player.FGM %></td>
                        <td><%= player.FGA %></td>
                        <td><%= player.FG3M %></td>
                        <td><%= player.FG3A %></td>
                        <td><%= player.FTM %></td>
                        <td><%= player.FTA %></td>
                        <td><%= player.PLUS_MINUS %></td>
                    </tr>
                <% }); %>
            </tbody>

        </table>
    </div>
    <div>
        <h2><%= matchup.team2Name %></h2>
        <table>
            <thead>
                <tr>
                    <th>PLAYER</th>
                    <th>TEAM</th>
                    <th>PTS</th>
                    <th>REB</th>
                    <th>AST</th>
                    <th>STL</th>
                    <th>BLK</th>
                    <th>FGM</th>
                    <th>FGA</th>
                    <th>FG3M</th>
                    <th>FG3A</th>
                    <th>FTM</th>
                    <th>FTA</th>
                    <th>+/-</th>
                </tr>
            </thead>
            <tbody>
                <% matchup.team2Players.forEach(player => { %>
                    <tr>
                        <td><%= player.PLAYER_NAME %></td>
                        <td><%= player.TEAM_ABBREVIATION %></td>
                        <td><%= player.PTS %></td>
                        <td><%= player.REB %></td>
                        <td><%= player.AST %></td>
                        <td><%= player.STL %></td>
                        <td><%= player.BLK %></td>
                        <td><%= player.FGM %></td>
                        <td><%= player.FGA %></td>
                        <td><%= player.FG3M %></td>
                        <td><%= player.FG3A %></td>
                        <td><%= player.FTM %></td>
                        <td><%= player.FTA %></td>
                        <td><%= player.PLUS_MINUS %></td>
                    </tr>
                <% }); %>
            </tbody>

        </table>
    </div>
    
    <% }); %>
<% } else{ %>
    <h1>NO MATCHES TODAY</h1>
<%} %>
</section>

<%- include("partials/footer.ejs") %>